<!-- Barra de navegación -->
<app-header></app-header>

<!-- Sección de Descripción Personal -->
<section id="descripcion-personal" class="bg-white p-8 mt-8 rounded-lg shadow-lg">
  <h2 class="text-4xl font-bold text-gray-800">¡Hola! Soy Martin Becerra</h2>
  <p class="text-xl text-gray-600 mt-4">Soy un estudiante de Ingenieria Civil en Computación e Informática de la Universidad Católica del Norte.</p>
</section>

<!-- Sección de Habilidades Técnicas -->
<section id="habilidades-tecnicas" class="bg-gray-100 p-8 mt-8 rounded-lg shadow-lg">
  <h2 class="text-3xl font-bold text-gray-800">Habilidades Técnicas</h2>
  <ul class="list-disc pl-8 text-gray-600 mt-4">
    <li>React</li>
    <li>Node.js</li>
    <li>Base de datos SQL y NoSQL</li>
  </ul>
</section>

<!-- Sección de Redes Sociales -->
<section id="redes-sociales" class="bg-white p-8 mt-8 rounded-lg shadow-lg">
  <h2 class="text-3xl font-bold text-gray-800">Sígueme en Redes Sociales</h2>
  <div class="mt-4 flex space-x-4">
    <a href="https://instagram.com/mvrtinbr" class="text-blue-600 hover:text-blue-700" target="_blank">
      <i class="fab fa-instagram text-2xl"></i> Instagram
    </a>
    <a href="https://github.com/xSharkz" class="text-gray-800 hover:text-gray-900" target="_blank">
      <i class="fab fa-github text-2xl"></i> GitHub
    </a>
  </div>
</section>

<!-- Sección de Proyectos -->
<section id="proyectos" class="bg-gray-100 p-8 mt-8 rounded-lg shadow-lg">
  <h2 class="text-3xl font-bold text-gray-800">Proyectos Destacados</h2>
  <div class="mt-4">
    <p class="text-gray-600">Estos son alguno de los proyectos que he desarrollado.</p>
    <ul class="list-inside text-gray-600 mt-4">
      <li>Proyecto 1: Desarrollo de un Videojuego en 3D Casual Single-Player de tipo Endless-Runner "Macarrun".</li>
      <li>Proyecto 2: Desarrollo de una aplicación de comercio de tipo "Uber-Eats".</li>
    </ul>
  </div>
</section>

<!-- Sección de Contacto -->
<section id="contacto" class="bg-white p-8 mt-8 rounded-lg shadow-lg">
  <h2 class="text-3xl font-bold text-gray-800">Contacto</h2>
  <form (ngSubmit)="enviarFormulario()" class="mt-6">
    <div class="mb-4">
      <label for="email" class="block text-sm font-medium">Correo electrónico</label>
      <input id="email" type="email" [(ngModel)]="email" name="email" class="w-full p-2 border rounded-md" required />
    </div>
    <div class="mb-4">
      <label for="descripcion" class="block text-sm font-medium">Descripción</label>
      <textarea id="descripcion" [(ngModel)]="descripcion" name="descripcion" class="w-full p-2 border rounded-md" required></textarea>
    </div>
    <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-md" [disabled]="isSending">
      {{ isSending ? 'Enviando...' : 'Enviar' }}
    </button>
  </form>
</section>

<!-- Pie de página -->
<footer class="bg-gray-800 text-white p-4 mt-8 text-center">
  <p>&copy; 2024 Universidad Católica del Norte. Todos los derechos reservados.</p>
</footer>
